@import "tailwindcss";

body {
  font-family: 'Cairo', sans-serif;
  background: #ffffff;
  color: #222222;
  direction: rtl;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}